.menu-header {
    position: relative;
    z-Index: 5;
    font-size: 42px;
}

.border-right {
    border-right: 1px solid black;
}

.menu-hr {
    border-top:  3px solid rgb(224, 183, 175) !important;
    margin-top: -80px;
    position: relative;
    height: 2px;
    z-Index: 1;
    width: 180px;
}

.category-header{
    font-size: 42px;
    margin-bottom: 100px;;
}


.box-border{
    border: 2px solid rgb(224, 183, 175) !important;
};